/*----- Activity -----*/

#activity {
  padding: var(--padding-section);
}

#activity article {
  margin-bottom: 20px;
}

#activity article .img {
  border-radius: var(--borders-top-radius);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 140px;
}

#activity article .content {
  padding: 0px 0px 1px 10px;
}

/*----- Activity Card TOPSIDE -----*/

.img10 {
  background: url("./../img/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
.img11 {
  background: url("./../img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
.img12 {
  background: url("./../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}
.img13 {
  background: url("./../img/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
.img14 {
  background: url("./../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}
.img15 {
  background: url("./../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

/*----- Activity Card BOTTOMSIDE-----*/

/*---- Responsive ----*/
/*---- Tablet version ----*/

@media (min-width: 768px) {
  #activity article {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100%;
  }
  #activity article .img {
    flex-grow: 1;
    flex-basis: 140px;
  }

  #activity-cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "image1 image2"
      "image1 image3"
      "image4 image5"
      "image4 image6";
  }
  .card_1 {
    grid-area: image1;
  }
  .card_2 {
    grid-area: image2;
  }
  .card_3 {
    grid-area: image3;
  }
  .card_4 {
    grid-area: image4;
  }
  .card_5 {
    grid-area: image5;
  }
  .card_6 {
    grid-area: image6;
  }
}

/*---- Desktop version ----*/

@media (min-width: 1024px) {
  #activity-cards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-template-rows: 250px 20px 200px;
    grid-template-areas:
      "image1 image2 image4 image5"
      "image1 image2 image4 image6"
      "image1 image3 image4 image6";
  }
}
