/*----- Footer Section -----*/

footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 35px 20px;
  justify-content: space-between;
  background-color: var(--reservia-background-color);
}

footer ul {
  padding: 0px;
  margin-bottom: 15px;
}

footer ul li {
  margin-bottom: 15px;
}

footer li a {
  color: black;
}

/*---- Responsive ----*/
/*---- Tablet version ----*/

@media (min-width: 768px) {
  footer {
    flex-direction: row;
  }
}

/*---- Desktop version ----*/

@media (min-width: 1024px) {
  footer {
    justify-content: flex-start;
  }
  footer div {
    flex-grow: 1;
  }
}
