footer{
    display: flex;
    flex-direction: column;
    padding: 35px 30px;
    justify-content: space-between;
    background-color: var(--reservia-background-color);
}

footer ul {
    padding: 0px;
    margin-bottom: 15px;
}

footer ul li {
    margin-bottom: 15px;
}

footer ul li:first {
    margin-bottom: 15px;
}

footer li a{
    color:black;
}

.casing:first-letter{
    text-transform: capitalize;
}