header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

header a {
    font-weight: bold;
    color: var(--reservia-primary-blue);
    margin-top: 0px;
}

h1 img {
    width: 100px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    width: 100%;
    text-align: center;
    border-bottom: 3px solid var(--reservia-background-color);
    padding-bottom: 10px;
}
nav a:hover{
    color:var(--reservia-primary-blue);
    border-bottom: 3px solid var(--reservia-primary-blue);
}