header{
    /* display: flex; */
    /* align-items: center; */
    /* flex-wrap: wrap;
    justify-content: space-between; */
    padding: var(--padding-section);

}

header a {
    font-weight: bold;
    color: var(--reservia-primary-blue);
    margin-top: 0px;
}

h1 img {
    width: 100px;
    position:absolute;
    float: left;
}

.tmenu{
    text-align: end;
    margin-top: 30px;
    padding-top: 6px;
}

#testnav{
    margin-top: 40px;
}
nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    width: 100%;
    text-align: center;
    border-bottom: 3px solid var(--reservia-background-color);
    padding-bottom: 10px;
}
nav a:hover{
    color:var(--reservia-primary-blue);
    border-bottom: 3px solid var(--reservia-primary-blue);
}

/*-----  Responsive -----*/
/*--- Desktop ---*/

/* @media (min-width: 1024px){
    #testnav{
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
    }

    #testnav nav a{
        margin-right: 40px;
        border-bottom: none;
        /* padding-top: 50px; */
    }

    #testnav nav a:hover{
        margin-right: 40px;
        border-top: 3px solid var(--reservia-primary-blue);
        
        border-bottom: none;
        /* padding-top: 50px; */
    }
} */