#information{
    padding: 20px 15px;
}

#information p:nth-child(2n){
    font-size: 0.75em;
    color: gray;
}


button{
    height: 35px;
    border: 2px solid var(--reservia-secondary-blue);
    border-radius: 20px;
}
/*--- Search Rules ---*/

#search .icone {
    display: inline-block;
    margin-top: 3px;
    margin-right: -4px;
    width: 35px;
    height: 35px;
    background-color: var(--reservia-background-color);
    border-radius: 10px 0px 0px 10px;
}

#search .icone i {
    color: #000000;
    margin-left: 12px;
    margin-top: 9px;
}

input{
    width: 190px;
    height: 30px;
    border:1px solid var(--reservia-background-color);
    /* border: none; */

}

#search ::placeholder{
    font-weight: bold;
    color: black;
    margin-left: 5px;
}
#search button{
    background-color: var(--reservia-primary-blue);
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-left: -19px;
}

#search button i {
    color:#ffffff;
}
/*--- Filter Rules --*/
/* 
button i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--reservia-secondary-blue);
}
#filter{
    display: flex;
}
#filter ul li{
    display: inline;
}

#search button{
    border-radius: 10px 10px 10px 10px;
    width: 35px;
    height: 35px;
    background-color: var(--reservia-primary-blue);
}
form button{
    border-radius: 10px 10px 10px 10px;
    width: 35px;
    height: 35px;
    background-color: var(--reservia-primary-blue);
} */

/*Information Rules*/

#info{
    display: flex;
}

#info p{
    font-size: 0.75em;
    color: gray;
}

#info i {
    font-size: 0.25em;
    padding:0.5%;
    border: 1px solid var(--reservia-primary-blue);
    border-radius: 50%;
}