/*----- Lodging Section -----*/

#lodging{
    padding:20px 10px;
}
#lodging h3{
    margin-bottom: 5px;
    margin-top: 5px;
}


/*--- Lodging Card ---*/

#articles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#articles article{
    margin-bottom: 20px;
    padding: 5px;

}

/*--- Lodging Card TOPSIDE ---*/

.img4{
    background: url("./../img/hebergements/4_small/marcus-loke-2WQJvWU_HZFo-unsplash.jpg");
}
.img5{
    background: url("./../img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.img6{
    background: url("./../img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
.img7{
    background: url("./../img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.img8{
    background: url("./../img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.img9{
    background: url("./../img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#articles article .img{
    height: 150px;
    flex-basis: 1;
    border-radius: var(--borders-top-radius);
    background-repeat: no-repeat;
    background-position: center;
}

.img-rectangle{
    width: 100%;
    height: 125px;
    object-fit: fill;
}

/*--- Lodging Card BOTTOMSID---*/

article .content{
    padding: 5px 0 0 15px;
}

#lodging article p{
    margin-bottom: 5px;
    margin-top: 5px;
}

.see-more{
    margin-top: 20px;

}
.see-more a{
    font-weight: bold;
    color: black;
}

/*---- Responsive ----*/
/*---- Tablet version ----*/

@media (min-width: 768px){
    #lodging{
        margin: 0 10px;
    }
    #articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #articles article{
        width: 340px;
    }
}

/*---- Responsive ----*/
/*---- Tablet version ----*/

@media (min-width: 1024px){
    #lodging{
        margin: 0 10px;
    }
    #lodgin h2{
        margin-left: 15px;
    }
    #articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #articles article{
        width: 265px;
    }
  }