#lodging{
    padding:3% 4%;
    border-radius: 4%;
    background-color: var(--reservia-background-color);
}
.img-top-border-radius{
    border-radius: 13% 13% 0% 0%;
}
#articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
article{
    margin-bottom: 2%;
}
.img-rectangle{
    width: 250px;
    height: 100px;
    object-fit: fill;
}

#lodging a{
    color: black;
}