#popular-lodging{
    background-color: var(--reservia-background-color);
    padding: 20px 15px;
}

#popular-lodging div{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#popular-lodging article div{
    flex-direction: column;
}

#popular-lodging div > .fa-chart-line{
    font-size: 1.5em;
    color: #000000;
}

.content{
    display: flex;
    flex-direction: column;
}

.content article{
    margin-bottom: 10px;
}

#popular-lodging article{
    display: flex;
    padding: 5px;
}

#popular-lodging h3{
    margin-top: 5px;
    margin-bottom: 10px;
}

#popular-lodging .ratings{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
}
.information{
    margin-left: 10px;
}
.information p{
    margin-top: 0px;
}


.img-square{
    width: 150px;
    height: 150px;
}

.img-leftside-border-radius{
    border-radius:20px 0px 0px 20px;
}