/*----- Popular-Lodging Section-----*/
#popular-lodging{
    background-color: var(--reservia-background-color);
    padding: 20px 15px;
}

#popular-lodging  > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#popular-lodging h3{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 15ch;
}

#popular-lodging div > .fa-chart-line{
    font-size: 1.5em;
    color: #000000;
}

.content{
    display: flex;
    flex-direction: column;
}

/*--- Lodging Card ---*/

#popular-lodging article{
    display: flex;
    margin-bottom: 15px;
    padding: 5px 0 5px 5px;

}

/*--- Lodging Card LeftSide ---*/


.img1{
    background: url("./../img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.img2{
    background: url("./../img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.img3{
    background: url("./../img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}


.img{
    flex-grow:3;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:var(--borders-left-radius);
    background-position: center;
}

/*--- Lodging Card RightSide ---*/

.information{
    flex-grow: 1;
    margin-left: 20px;
    padding: 10px 0 0 0;
}
.information p{
    margin-top: 0px;
}

#popular-lodging .ratings{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 60px;
    margin-bottom: 10px;
}

/* .container{
    flex-grow: 1;
} */