#popular-lodging{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:3% 4%;
    border-radius: 4%;
    background-color: var(--reservia-background-color);
}

#popular-lodging div{
    display: flex;
    justify-content: space-between;
}


#popular-lodging article{
    display: flex;
    width: 425px;
    height: 150px;
    padding:1%;
}

#popular-lodging .ratings{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#popular-lodging article div{
    flex-direction: column;
    margin-left: 5%;
}

.information p{
    margin-top: 0px;
}

.fa-chart-line{
    color: #000000;
}

.img-square{
    width: 150px;
    height: 150px;
}

.img-leftside-border-radius{
    border-radius: 13% 0% 0% 13%;
}