@import 'variables.css';
@import 'information.css';
@import 'lodging.css';
@import 'popular-loding.css';
@import 'footer.css';

@font-face{
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.ttf') format('truetype'),
         url('./fonts/Raleway-bold.ttf') format('truetype');      
}

body{
    font-family: 'Raleway';
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
i{
    color: var(--reservia-primary-blue);
}

/* nav a:first-letter{
    text-transform: uppercase;
} */

nav a{
    color:black;
}
a:hover{
    color:var(--reservia-primary-blue);
}

h1,h2,h3,h4,h5,h6:first-letter{
    text-transform: capitalize;
}

h1{
    color: var(--reservia-primary-blue);
}

p {
    font-weight: bold;
}
header{
    display:flex;
    justify-content: space-between;
}
body{
    margin:auto;
    width: 1335px;
}
section{
    margin-bottom: 50px;
}

section a {
    font-weight: bold;
}
section a:hover {
    font-weight: bold;
}
img{
    width: 100px;
    height: 50px;
}

article{
    height: 215px;
    width: 250px;
    padding: 1%;
    box-shadow: 8px 9px 17px 0px rgba(194,189,189,0.76);
        -webkit-box-shadow: 8px 9px 17px 0px rgba(194,189,189,0.76);
        -moz-box-shadow: 8px 9px 17px 0px rgba(194,189,189,0.76);
    background-color: #ffffff;
    border-radius: 25px;
}
article span{
    font-weight: bold;
}
article p{
    color: gray;
}
article p span{
    color: black;
    font-weight: bold;
}