@import 'variables.css';
@import 'footer.css';

@font-face{
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.ttf') format('truetype'),
         url('./fonts/Raleway-bold.ttf') format('truetype');      
}

body{
    font-family: 'Raleway';
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
i{
    color: var(--reservia-primary-blue);
}

/* nav a:first-letter{
    text-transform: uppercase;
} */

nav a{
    color:black;
}

nav a:hover{
    color:var(--reservia-primary-blue);
}

h1,h2,h3,h4,h5,h6:first-letter{
    text-transform: capitalize;
}

h1{
    color: var(--reservia-primary-blue);
}

p {
    font-weight: bold;
}
