/*-----  Responsive -----*/
/*--- Desktop ---*/

@media (min-width: 1024px){
    #test{
        margin: 0 10px;
        /* display: grid;
        grid-template-columns: 700px 1fr;
        grid-template: 'lodging popular-lodging'; */
        display: flex;
        flex-direction: row-reverse;
    }
    #popular-lodging{
        grid-area: popular-lodging;
    }
    #lodging{
        background-color: var(--reservia-background-color);
        border-radius: 25px;
        grid-area: lodging;
    }
    /* #lodging #articles{
        justify-content: space-between; 
    } */
}