:root{
    --reservia-primary-blue: #0065FC;
    --reservia-secondary-blue: #DEEBFF;
    --reservia-background-color: #F2F2F2;
    --borders-top-radius: 25px 25px 0px 0px;
    --borders-left-radius: 25px 0px 0px 25px;
}